/* ------ Header+Nav ------ */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 4%;
}
header img {
    height: 3vh;
}
.menu {
    height: 1vh;
}
header ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
header li {
    font-size: 0.8em;
    padding: 0 10%;
}
header nav a {
    text-decoration: none;
    color: var(--color2);
}
header nav a:hover {
    border-bottom: 1px solid var(--color2);
}
/* ------ dark ------ */
.darkBG {
    background-color: #272624;
    padding: 0;
    mix-blend-mode: exclusion;
}
h1 {
    color: var(--color2);
}
h2 {
    color: var(--color2);
}
h3 {
    font-family: Grotesk-Regular;
    color: var(--color2);
    line-height: 2.5rem;
    padding: 5vh 0 10vh;
}
p {
    color: var(--color2);
}
/* ------ Content ------ */
.zweiSp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    }
#about {
    padding-top: 10vh;
    padding: 8vh 4% 14vh;
}
#about article {
    border-bottom: 2px solid var(--color2);
}
/* ------ PictureArea ------ */
#Gallery img {
    width: 100%;
}
#Gallery {
    margin: 0 4%;
    position: relative;
    height: 150vh;
}
#Gallery p {
    padding-top: 2vh;
    display: block;
}
.imG01 {
    width: 36%;
    position: absolute;
    top: 10vh;
    left: 20%;
}
.imG01:hover {
    z-index: 999;
}
.imG02 {
    width: 36%;
    position: absolute;
    top: 37vh;
    left: 34%;
}
.imG02:hover {
    z-index: 999;
}
.imG03 {
    width: 36%;
    position: absolute;
    top: 20vh;
    right: 20%;
}
.imG03 p {
    text-align: right;
    display: inline-block;
    position: absolute;
}
.imG03:hover {
    z-index: 999;
}
.imG04 {
    width: 36%;
    position: absolute;
    top: 54vh;
    right: 5%;
}
.imG04:hover {
    z-index: 999;
}
.gallerySiteTxt {
    position: absolute;
    left: 0;
    top: 55vh;
    font-size: 0.6em;
}
/* ------ BASIC Area + Grid ------ */
.LineBasicLine {
    margin: 0 4%;
    border-top: 2px solid var(--color2);
    border-bottom: 2px solid var(--color2);
}
.LineBasicLine img {
    padding: 2vh 0;
    width: 50%;
}
.basicGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 2vh 4% 10vh;
}
.buttonDark {
    margin: 5vh 0;
}
.basicGrid p:nth-of-type(3) {
    text-align: right;
}
.basicGrid h5 {
    color: var(--color2);
}
.basicGrid h1 {
    padding: 3vh 0;
} 
section:nth-of-type(5) article:first-of-type {
    border-top: 2px solid var(--color2);
    padding-top: 2vh;
}
section:nth-of-type(6) article:first-of-type {
    border-top: 2px solid var(--color2);
    padding-top: 2vh;
}
.capaBullets {
    padding-top: 1.5vh;
    line-height: 4.5vh;
}
.basicGridZwei {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    margin: 2vh 4% 10vh;
}
.basicGridZwei h3 {
    padding: 0 40% 0 0;
    line-height: 3rem;
}
/* ------ BulletPoints + ImageShow ------ */
.bullets {
    margin: 0 4%;
}
.bullets h1 {
    letter-spacing: -3px;
}
.bullets p {
    font-family: Grotesk-Regular;
    font-size: 20px;
    letter-spacing: 0;
    transform: translate(0px, 20px);
}
.hover_img01 a {
    position:relative;
    width: 100%;
    text-decoration: none;
    display: block;
}
.hover_img01 span:first-of-type {
    display: flex;
    opacity: 0.5;
}
.hover_img01 a span:last-of-type {
    position:absolute;
    top: -10vh;
    right: 0;
    opacity: 0;
}
.hover_img01 a:hover span {
    opacity: 100;
}
.hover_img02 a {
    position:relative;
    width: 100%;
    text-decoration: none;
    display: block;
}
.hover_img02 span:first-of-type {
    display: flex;
    opacity: 0.5;
}
.hover_img02 a span:last-of-type {
    position:absolute;
    top: -40vh;
    right: 0;
    opacity: 0;
}
.hover_img02 a:hover span {
    opacity: 100;
}
/* ------ Footer weiss ------ */
.lightBG {
    background-color: var(--color0);
    padding: 16vh 4% 0;
    mix-blend-mode: exclusion;
}
.footer2sp h3, a {
    font-family: Grotesk-Regular;
    color: var(--color1);
}